.listname{
    transform: translateY(50px);
    text-align: center;
}
.allocateform{
    transform: translateY(20px);
  
   
    /* text-align: center; */
}
.text2{
    padding-left: 10px;
}
.allo{
   
   
}