.enroll{
text-align: center;
 width: 200px;
 margin-left: 450px;
 /* border: 1px solid white; */
 padding: 10px;
 transform: translateY(100px);
 background-color: transparent;
 box-shadow: 10px 10px 10px black;
 
}
.register{
   
    
}
